.Style9 {
color: #99CC66
}
.Style11 {font-family: "Comic Sans MS"}
body {
background-color: #FFFF99;
}
.Style12 {
font-size: 11px;
color: #993300;
font-family: "Comic Sans MS";
}
a:link {
color: #993300;
}
a:visited {
color: #5C743D;
}
a:active {
color: #5C743D;
}
a:hover {
color: #993300;
}
#menu{
  text-align: center;
  display:block;
}
.Style14 {color: #CC6600}
.Style15 {
font-family: "Comic Sans MS";
font-size: 12px;
font-weight: bold;
}
.Style16 {
font-family: "Comic Sans MS";
font-style: italic;
font-size: 12px;
font-weight: bold;
}
.Style17 {font-size: 12px; font-family: "Comic Sans MS";}
